@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">PompeiiSquare</h1>
    <p class="text-center">Find the best places to eat, drink, shop, or visit in any city in the world.</p>
    <div class="text-center">
        <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-glass" aria-hidden="true"></span> Drinks</a>
        <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> Eat</a>
        <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Fun</a>
        <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-cd" aria-hidden="true"></span> Nightlife</a>
        <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> Shopping</a>
    </div>
</div>