@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">PompeiiSquare</h1>
    <div class="bs-glyphicons">
        <ul class="bs-glyphicons-list text-center">
            <li><a href="#" class="glyphicon glyphicon-glass"><span class="glyphicon-class">Drinks</span></a></li>
            <li><a href="#" class="glyphicon glyphicon-cutlery"><span class="glyphicon-class">Eat</span></a></li>
            <li><a href="#" class="glyphicon glyphicon-star-empty"><span class="glyphicon-class">Fun</span></a></li>
        </ul>
    </div>
    <div class="test">

    </div>
</div>