@using PompeiiSquare.Server.Utilities;
@model System.Data.Entity.Spatial.DbGeography

@if (Model != null)
{
    @*<script>
        $(function () {
            debugger;
            maps.markerToSet = new google.maps.LatLng(@Model.Latitude, @Model.Longitude);
        });
    </script>*@
}
<div id="map_canvas" style="width: 400px; height: 400px"></div>