@using PompeiiSquare.Server.Utilities;
@model System.Data.Spatial.DbGeography

@Html.TextBox("", "", htmlAttributes: new { @class = "form-control" })
@if (Model != null)
{
    <script>
        $(function () {
            maps.markerToSet = new google.maps.LatLng(@Model.Latitude, @Model.Longitude);
        });
    </script>
}
@{ string textbox = Html.ClientIdFor(model => model).ToString(); }
<div id="map_canvas" data-textboxid="@textbox" style="width:400px; height:400px"></div>