@using PompeiiSquare.Server.Utilities;
@model System.Data.Entity.Spatial.DbGeography
@{
    string value = "";
    if (Model != null)
    {
        value = Model.Latitude + ", " + Model.Longitude;
    }
}
@Html.TextBox("", value, htmlAttributes: new { @class = "form-control" })

@{ string textbox = Html.ClientIdFor(model => model).ToString(); }
<div id="map_canvas" data-textboxid="@textbox" style="width:400px; height:400px"></div>