@using PompeiiSquare.Server.Models
@model PompeiiSquare.Models.Venue
@{
    ViewBag.Title = Model.Name;
}

@Html.Partial("_VenueDetails", Model)
@Html.Partial("~/Views/Tips/Create.cshtml", new PompeiiSquare.Server.Models.TipBindingModel() { venueId = Model.Id })
@if (!Model.Tips.Any())
{
    <div class="well">
        There are no tips yet. You can write the first one!
    </div>
}
else
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Tips</h3>
        </div>
        <div class="panel-body">
            @foreach (var tip in Model.Tips)
            {
                Html.RenderPartial("~/Views/Tips/_TipDetails.cshtml", tip);
            }
        </div>
    </div>
}