@model PompeiiSquare.Server.Areas.VenueAdministrator.Models.VenueGroupBindingModel

@using (Html.BeginForm("Create", "VenueGroups", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", id = "create-group-form" }))
{
    <div class="modal-header" id="new-category-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add new group</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "group-name" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" id="approve-btn" class="btn btn-primary">Save</button>
    </div>
}

<script type="text/javascript">
    $(function () {
        $("#approve-btn").click(function () {
            $("#modal-container").modal("hide");
        });
        $("#create-group-form").submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/VenueAdministrator/VenueGroups/Create",
                type: "POST",
                data: {
                    "Name": $("#group-name").val()
                },
                success: function () {
                    location.reload();
                },
                error: function (data) {
                    $("#create-group-error").html(data.statusText)
                }
            });
        });
    });
</script>