@model PompeiiSquare.Server.Areas.VenueAdministrator.Models.OpenHoursBindingModel
<div class="row">
    <br />
    <div class="col-md-3">
        @Html.EditorFor(model => model.Weekday, new { htmlAttributes = new { @class = "form-control", placeholder = "Weekday" } })
        @Html.ValidationMessageFor(model => model.Weekday, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-3">
        @Html.EditorFor(model => model.Hours, new { htmlAttributes = new { @class = "form-control", placeholder = "Hours" } })
        @Html.ValidationMessageFor(model => model.Hours, "", new { @class = "text-danger" })
        @* TODO: Add validation to hours *@
    </div>
    <a class="btn btn-danger" onclick="removeWorkingHoursItem(event)"><i class="glyphicon glyphicon-remove" /></a>
</div>